@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {
  background-color: #282828;
  color: white;
  font-family: monospace;
}

a {
  color: dodgerblue;
  transition: 0.2s;
}

a:hover {
  color: white;
}

h1 {
  font-family: 'Major Mono Display', monospace;
}
